ctp/
Mensuales_estaciones/
.ipynb_checkpoints/
Resultados/
Modelos/
rsconnect/
Tablas_Contingencia/
Correlaciones/
xgboost/
Shapes/
RandomForest/
Docs/
Estaciones/
Indices/
*.xlsx
*.pptx
*.csv
*.h5
*.txt
*.gzip
.*shp
*.shx
*.dbf
*.sbn
*.prj
*.xml
*.adf
.*pdf
.*log
.*aux
!.gitignore
